<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo App</title>
  </head>
  <body>
    <div class="navbar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/todo">Todo</a></li>
        </ul>
      </nav>
    </div>
