<%- include('./partials/boilerplate') %>

<div class="about">
  <h1>About the todo app</h1>
  <p>This is a homework project for General Assembly that Kimmy has built. It is a seamless, functional todo app that can record your todo items, as well as edit and delete them.</p>
</div>





<%- include ('./partials/end') %>
