<%- include('./partials/boilerplate') %>
<div class="hero">
  <h1>Welcome to my to-do app!</h1>
  <button type="button" name="todo"><a href="/todo">To-do</a></button>
</div>
<%- include('./partials/end') %>
