<%- include('./partials/boilerplate') %>
<div class="hero">
  <h1>Welcome <br /> to my <br /> to-do app!</h1>
  <button class="todo-page" type="button" name="todo"><a href="/todo">To-do</a></button>
</div>
<%- include('./partials/end') %>
