<%- include('../partials/boilerplate') %>

<div class="form-page">
  <div class="add-item">
    <form action="/todo" method="POST">
      <input type="text" name="description" placeholder="Task description">
      <input type="text" name="completed" placeholder="Task status">
      <input type="submit" name="" value="Add task">
    </form>
  </div>
  <a href="/todo">Back to the todo list</a>
</div>



<%- include('../partials/end') %>
