<%- include('../partials/boilerplate') %>

<div class="todo-single-container">
  <%- include('../partials/todo-item') %>
  <a href="/todo">Back to todo list</a>
</div>



<%- include('../partials/end') %>
